.form-horizontal {
  background: #ffcc00;
  color: #ffffff;
  border: 1px solid #ff0000;
  border-radius: 8px; 
}

.btn-primary {
  background: #ff9900;
  border: 1px solid #ff0000;
}

.btn-primary:hover {
  background: #ff0000;
}
